@using Index = Maixnor.Terminal.Pages.Index

<pre>
guest@maixnor: ~$ <span class="bold">@Element.Command</span>
@Element.Response
</pre>

@code {

    [Parameter]
    public Index.Box Element { get; set; } = default!;

}