@using Index = Maixnor.Terminal.Pages.Index

<div style="display: inline-flex">
    <pre>guest@maixnor: ~$ @Command</pre>
    <EditForm class="none" Model="this" OnSubmit="Submit">
        <InputText id="autofocus" @bind-Value="Command"></InputText>
    </EditForm>
</div>

@code {
    [Parameter]
    public Index Parent { get; set; }
    
    public string Command { get; set; }

    public void Submit()
    {
        Parent.SubmitCommand(Command);
        Command = string.Empty;
    }
}