@using Index = Maixnor.Terminal.Pages.Index
<div class="row">
    <pre>
        <b>guest@maixnor: ~$ </b>
        <EditForm Model="this" OnSubmit="Submit">
            <InputText @bind-Value="Command" style="background: #000; color: white"></InputText>
        </EditForm>
    </pre>
</div>

@code {
    [Parameter]
    public Index Parent { get; set; }
    
    public string Command { get; set; }

    public void Submit()
    {
        Parent.SubmitCommand(Command);
        Command = string.Empty;
    }
}